<body class='bg-gray-600'>

      <div class='flex-1 md:flex relative z-0 overflow-y-auto focus:outline-none'>
      <div class='text-3xl relative  text-gray-200 xs:full md:80 flex flex-col p-2 md:flex-0'>
          <h1 class='text-3xl m-4 p-2 text-gray-200 rounded-full'>Selected Tool</h1>

      <div class="max-w-xs bg-gray-200 m-4 rounded-lg shadow-lg">
        <img class="object-cover  w-full" src="/images/logo-gray.png" alt="tool trader logo"/>
        <div class="flex-1 flex flex-col p-2 mx-auto">
            <dd class="text-gray-600 text-sm m-2" id="">Name: {{tool_name}}</dd>
                    <dd class="text-gray-600 text-sm m-2" id="">Description: {{tool_description}}</dd>
                    <dd class="text-gray-600 text-sm m-2" id="">Make: {{toolMake.make_name}}</dd>
                    <dd class="text-gray-600 text-sm m-2 toolType" id="toolType">Type: {{toolType.tool_types_name}}</dd>
                    <dd class="text-gray-600 text-sm m-2 toolCat" id="">Category: {{toolCategory.categories_name}}</dd>
                    <dd class="text-gray-600 text-sm m-2" id="user">User: {{user.user_name}}</dd>
                    <dd class="text-gray-600 text-sm m-2" id="">Asking: {{asking}}</dd>
                    <dd class="text-gray-600 text-sm m-2" id="">Distance: {{distance}} miles</dd>
                    <dd class="text-gray-600 text-sm m-2" id="user">Contact email: {{user.email}}</dd>
        </div>
        
    </div>
    </div>

    <div class='flex-col w-9/12 mx-auto'>
      <div class='flex'>
      <h1 class='flex text-3xl m-4 p-2 w-full text-gray-200 rounded-full'>Message Board</h1>
      </div>
      <div class="p-2 w-9/12 rounded">
        <!--Card 1-->
        <div class=" w-full lg:max-w-full lg:flex">
          <!-- <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('/mountain.jpg')" title="Mountain">
          <img class='bg-white' src='../public/images/logo-gray.png'>
          </div> -->
          <div class="border-r w-9/12 border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
            <div class="mb-8">
              
              <p class="text-sm text-gray-600 flex items-center">
                
                <i class="fas m-2 fa-user text-gray-400"></i>
                User
              </p>
              <div class="text-gray-900 font-bold text-xl mb-2">Message</div>
              
              <ul id="messages"></ul>
            </div>
            <div class="flex items-center">
              <div class="text-sm">
                <p class="text-gray-900 leading-none">Time</p>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>

    </div>
    
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>

    <script>
        var socket = io();
      
        var messages = document.getElementById('messages');
        var form = document.getElementById('form');
        var input = document.getElementById('input');
      
        form.addEventListener('submit', function(e) {
          e.preventDefault();
          if (input.value) {
            socket.emit('chat message', input.value);
            input.value = '';
          }
        });
      
        socket.on('chat message', function(msg) {
          var item = document.createElement('li');
          item.textContent = msg;
          messages.appendChild(item);
          window.scrollTo(0, document.body.scrollHeight);
        });
      </script>
<script src='/js/script.js'></script>
</body>